/* First section code */

/* Class selectors for the first section of the portfolio page. */
.firstSection {
    display: grid;
    grid-template-rows: 10% 90%;
    background: linear-gradient(180deg, #000000, #030833, #1c2257);
    height: 500px;
    border-radius: 10px 10px 0px 0px;
}

.navcontent{
  display: inline-flex;
  text-align: center;
  padding-top: 20px;
  width: fit-content;
  height: 45%;
    width: 10%;
}

.navcontent>a{
     color: #030833;
    font-size: 100%;
}


.introText {
    color: #d9d9d9;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    height: 120px;
    padding: 200px 100px;
}



.portfolioText {
    font-size: 100%;
    font-weight: bold;
    height: 70%;
    width: 70%;
    padding-top: 20px;
}

/* id selector for the first section of the portfolio page. */
#introTextParagragh {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0px;
    opacity: 0;
    pointer-events: none;
}

#greeting {
     opacity: 0;
    pointer-events: none;
}

#introName {
     opacity: 0;
    pointer-events: none;
}

#Navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #d9d9d9;
   display: grid;
   grid-template-columns: 40% 20% 20% 20%;
}

#greeting {
    font-size: 24px;
    font-weight: normal;
    margin-top: 0px;
}

/* tag selector for the first section of the portfolio page. */
h1 {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

body {
   background-color: #d9d9d9;
}

p{
    margin: 0px;
}

div>img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 0px;
}

p>img {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin: 0px 10px;
}

nav div {
    display: inline-block;
    margin: 0px 10px;
    height: fit-content;
    color: #030833;
}


/*Second section code */

#secondSection {
    background: linear-gradient(180deg, #1c2257, #030833) ;
    height: 500px;
    text-align: center;

}

#secondSection>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secondcontainer {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(1,auto);
    gap: 20px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 350px;
}

#secondcontainer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.skills{
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 480px){
    .skills{
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 50%;
}
}

@media (min-width: 480px) and (max-width: 834px){
    .skills{
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 70%;
}
}


.skills>h3{
    font-size: 100%;
}

.skills>p{
    font-size: 80%;
}

div>h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #d9d9d9;
}





/* third section code */
#thirdSection {
    background: linear-gradient(180deg, #030833, #1c2257);
    border-bottom: 2px solid #ccc;
    height: 500px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

#thirdSection>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #d9d9d9;
}

